<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yiwa's HOME</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">



</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">Yiwa's Home</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 offset-1">
            <input class="form-control mr-sm-2" type="search" placeholder="搜索问题" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto offset-7">
            <div th:if="${session.user==null}">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=723ca7c1206fcfbff6cb&redirect_uri=http://localhost:8080/callback&scop=user" tabindex="-1" aria-disabled="true">登录</a>
                </li>
            </div>

            <div th:if="${session.user!=null}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" th:text="${session.user.getName()}">

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">消息中心</a>
                        <a class="dropdown-item" href="#">个人资料</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">退出登录</a>
                    </div>
                </li>
            </div>
        </ul>

    </div>
</nav>


<script src="/js/jquery-3.6.0.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
</body>
</html>