<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yiwa‘s HOME</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">



</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Yiwa's Home</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 offset-1">
            <input class="form-control mr-sm-2" type="search" placeholder="搜索问题" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto offset-6">
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">登录</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    我
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">消息中心</a>
                    <a class="dropdown-item" href="#">个人资料</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">退出登录</a>
                </div>
            </li>

        </ul>

    </div>
</nav>


<script src="/js/jquery-3.6.0.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
</body>
</html>