<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布问题</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/publish.css">
    <link rel="stylesheet" href="/css/editormd.css">
    <script src="/js/publish.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="height: 51px">
    <a class="navbar-brand" href="/">Yiwa's Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 offset-1">
            <input class="form-control mr-sm-2" type="search" placeholder="搜索问题" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto offset-6">
            <div th:if="${session.user==null}">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=723ca7c1206fcfbff6cb&redirect_uri=http://localhost:8080/callback&scop=user" tabindex="-1" aria-disabled="true">登录</a>
                </li>
            </div>


            <div th:if="${session.user!=null}">
                <li class="nav-item" th:if="${pagination}!=null and${UnReadMessageCount}!=0">
                    <a th:href="@{/profile/replies/{page}/{pageSize}(page=1,pageSize=${pagination.getPageSize()})}" class="nav-link">回复<span class="badge badge-pill badge-primary" style="margin-left: 7px;" th:text="${UnReadMessageCount}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li class="nav-item" th:if="${pagination}!=null and ${UnReadMessageCount}==0">
                    <a th:href="@{/profile/replies/{page}/{pageSize}(page=1,pageSize=${pagination.getPageSize()})}" class="nav-link">回复<span class="badge badge-pill badge-primary" style="margin-left: 7px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li class="nav-item" th:if="${pagination}==null and ${UnReadMessageCount}!=0">
                    <a th:href="@{/profile/replies/{page}/{pageSize}(page=1,pageSize=15)}" class="nav-link">回复<span class="badge badge-pill badge-primary" style="margin-left: 7px;" th:text="${UnReadMessageCount}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li class="nav-item" th:if="${pagination}==null and ${UnReadMessageCount}==0">
                    <a th:href="@{/profile/replies/{page}/{pageSize}(page=1,pageSize=15)}" class="nav-link">回复<span class="badge badge-pill badge-primary" style="margin-left: 7px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
            </div>


            <div th:if="${session.user!=null}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" th:text="${session.user.getName()}"></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/profile/questions/{page}/{pageSize}/(page=1,pageSize=15)}">消息中心</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">退出登录</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</nav>

<div th:if="${error==null}">
    <div style="height: 70px"></div>
</div>



<div th:if="${error!=null}">
    <div style="height: 48px"></div>
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert"style="margin-bottom: 5px;margin-top: 8px;margin-left: 540px;width: 330px">
        <a href="/publish" class="alert-link" th:text="${error}" style="text-align: right;margin-left: 35px"></a>
    </div>
</div>



<div class="container" style="background: white">
    <div class="row">
        <div class="col-md-9" style="padding: 20px;border-color: #e6e6e6;border-style: solid">
            <form action="/publish" method="post">
                <h5><img src="/bootstrap/font/stickies.svg" alt="" width="30px" height="30px">&nbsp;&nbsp;发起</h5>
                <hr/>
                <input type="text" name="id" th:value="${id}" hidden>
                <h5>问题标题(简单扼要)</h5>
                <input type="text" class="form-control" name="title" placeholder="问题标题..." style="margin-top: 20px" th:value="${title}">

                <h5 style="margin-top: 30px;margin-bottom: 25px;">问题补充(必填，请参考右侧提示)</h5>
                <div id="editor">
                    <textarea class="form-control" name="description" style="margin-top: 13px;display: none" rows="7" th:text="${description}"></textarea>
                </div>

                <h5 style="margin-top: 30px;">添加标签:</h5>
                <input type="text" class="form-control" name="tag" placeholder="点击输入框,添加下方标签" style="margin-top: 13px" th:value="${tag}" id="taginput" onclick="show()" readonly >

                <div id="tag-section" style="display: none">
                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 16px;">
                        <li class="nav-item" role="presentation" th:each="tagDTO:${tagDTOs}">
                            <a  class="nav-link" data-toggle="tab" th:href="${'#'+tagDTO.getCategoryName()}" role="tab" aria-selected="false" th:text="${tagDTO.getCategoryName()}"></a>
                        </li>
                        <!--                    <li class="nav-item" role="presentation">-->
                        <!--                        <a class="nav-link" data-toggle="tab" href="#home" role="tab"  aria-selected="false">Home</a>-->
                        <!--                    </li>-->
                        <!--                 -->
                    </ul>
                    <div class="tab-content" id="myTabContent" style="margin-top: 12px;">
                        <div th:each="tagDTO:${tagDTOs}" class="tab-pane fade" th:id="${tagDTO.getCategoryName()}" role="tabpanel">
                            <span th:each="tag:${tagDTO.getTags()}" th:text="${tag}" class="badge badge-pill badge-info text-center" style="margin-left: 3px;margin-right: 8px;margin-top:6px;width: 120px;height: 40px;padding-top: 13px;" onclick="getTag(this)"></span>
                        </div>
                    </div>
                </div>


                <div style="height: 25px"></div>
                <button class="btn btn-success" style="float: right;margin-top: 11px;margin-bottom: 14px">发布</button>
            </form>
        </div>


        <div class="col-md-3" style="border-style: solid;border-color: #e6e6e6;border-width: 2px">
            <h3 style="margin-top: 15px"><img src="/bootstrap/font/chat-right-text.svg" alt="请仔细阅读" width="30px" height="30px">&nbsp;&nbsp;问题发起指南</h3>
                <hr/>
            <ul class="list-group">
                <li class="list-group-item" style="margin-bottom: 36px;margin-top: 26px">问题标题:请用精简的语言描述您发布的问题,不超过25字</li>
                <li class="list-group-item" style="margin-bottom: 90px;margin-top: 45px">问题补充:详细补充您的问题内容，并确保问题描述清晰直观,并提供一些相关资料</li>
                <li class="list-group-item">选择标签:选择一个或多个合适的标签，用逗号隔开，每个标签不超过10个字</li>
            </ul>
        </div>
    </div>
</div>



<div style="height: 56px"></div>







<script src="/js/jquery-3.6.0.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/js/editormd.js"></script>

<script type="text/javascript">
    $(function() {
        let editor = editormd("editor", {   // var /
             width: "100%",
             height: "300px",
            // markdown: "xxxx",     // dynamic set Markdown text
            path : "/lib/",  // Autoload modules mode, codemirror, marked... dependents libs path
            watch: false,
            imageUpload: true,          // Enable/disable upload
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/image/upload",             // Upload url

        });
    });
</script>
</body>
</html>