<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiwa.community.dao.CommentMapper">

    <select id="queryCommentByParentId" resultType="Comment">
        select * from comment where PARENT_ID=#{parentId} and TYPE=#{type}
    </select>

    <select id="queryCommentById" resultType="Comment">
        select * from comment where ID=#{id}
    </select>

    <insert id="createComment" parameterType="Comment">
        insert into comment(TYPE, PARENT_ID, LIKE_COUNT, CONTENT, CREATOR, GMT_CREATE, GMT_MODIFIED) VALUES (#{type},#{parentId},#{likeCount},#{content},#{creator},#{gmtCreate},#{gmtModified})
    </insert>


</mapper>