<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiwa.community.dao.NotificationMapper">
    <select id="queryNotificationByReceiverId" resultType="Notification">
        select * from notification where RECEIVER=#{receiverId} order by ID desc limit #{offset},#{pageSize}
    </select>

    <select id="queryUnReadMessageCount" resultType="int">
        select count(*) from notification where RECEIVER=#{receiverId} and STATUS=0
    </select>

    <select id="queryMessageCount" resultType="int">
        select count(*) from notification where RECEIVER=#{receiverId}
    </select>


    <insert id="addNotification" parameterType="Notification">
        insert into notification(notifier, receiver, content, relate_id, type, gmt_create, status) VALUES (#{notifier}, #{receiver}, #{content}, #{relateId}, #{type}, #{gmtCreate}, #{status})
    </insert>

    <update id="readMessage" parameterType="long">
        update notification set STATUS=1 where ID=#{id}
    </update>

</mapper>