<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiwa.community.dao.UserMapper">
    <select id="queryUserByAccountIdList" resultType="User">
        select * from user where ACCOUNT_ID
        in
        <foreach collection="list" item="accountId" index="index" open="(" close=")" separator="," >
            #{accountId}
        </foreach>
    </select>

    <insert id="addUser" parameterType="User">
        insert into user (account_id, gmt_create, gmt_modified, name, token, bio, avatar_url) values (#{accountId},#{gmtCreate},#{gmtModified},#{name},#{token},#{bio},#{avatarUrl})
    </insert>

    <select id="queryUserByToken" resultType="User">
        select * from user where TOKEN=#{token}
    </select>

    <select id="queryUserByAccountId" resultType="User">
        select * from user where ACCOUNT_ID=#{accountId}
    </select>


    <update id="updateUserInfo">
        update user
         <set>
            NAME=#{name},
            BIO=#{bio},
            AVATAR_URL=#{avatarUrl},
            GMT_MODIFIED=#{gmtModified}
         </set>
        where ACCOUNT_ID=#{accountId}
    </update>
</mapper>